<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accounts</title>
    <meta charset="utf-8"/>
</head>
<body>

<table style="width:50%; height:300px; font-size: large">
    <tr style="background-color:forestgreen">
        <th>index</th>
        <th>name</th>
        <th>balance</th>
        <th>animal type</th>
        <th>other info</th>
    </tr>
    <tr th:each="currentAccount : ${accounts}" style="background-color:lightgray" align="center">
        <td th:text="${currentAccountStat.index}"></td>
        <td th:text="${currentAccount.name}"></td>
        <td th:text="${currentAccount.balance} + ' Zebra'"></td>
        <td th:text="${currentAccount.animalType}"></td>
        <td style="color:darkgoldenrod" th:text="${currentAccount.accountBelongsToKing(currentAccount)}"></td>

</table>
</body>
</html>
