<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Programmer Fox Club</title>
</head>

<body>

<ul>
    <li>
        <a th:href="@{/information}" href="#">Information</a>
    </li>
</ul>

<div>
    <img id="greenfox" src="greenfox.png" alt="Green Fox"/>
</div>

<div>
    <p th:text="'This is ' + ${name} + '. Currently living on salad and water. He knows ' + ${numberoftricks} + ' trick(s).'"></p>
</div>

<h1>Known tricks </h1>

<div>
    <p th:text="${numberoftricks == 0} ? 'You know no tricks yet. Go and learn some.' : ''"></p>
</div>

<div th:if="${numberoftricks != 0}">
    <ul>
        <li>
            <div th:each="trick : ${fox.getLearnedTricks()}">
                <p th:text="${trick}"></p>
            </div>
        </li>
    </ul>
</div>

</body>
</html>

