<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Programmer Fox Club</title>
</head>

<body>

<ul>
    <li>
        <a th:href="@{/information}" href="#">Information</a>
    </li>
</ul>

<ul>
    <li>
        <a th:href="@{'/nutritionstore?name=' + ${name}}">Nutrition Store</a>
    </li>
    <li>
        <a th:href="@{'/trickcentre?name=' + ${name}}">Trick Centre</a>
    </li>
</ul>

<div>
    <img id="greenfox" src="greenfox.png" alt="Green Fox"/>
</div>

<div>
    <p th:text="'This is ' + ${name} + '. Currently living on ' + ${food.getDescription()} + ' and ' + ${drink.getDescription()} + '. He knows ' + ${fox.getNumberOfLearnedTricks()} + ' trick(s).'"></p>
</div>

<h1>Known tricks </h1>

<div>
    <p th:text="${numberoflearnedtricks == 0} ? 'You know no tricks yet. Go and learn some.' : ''"></p>
</div>

<div th:if="${numberoflearnedtricks != 0}">
    <ul>
        <li>
            <div th:each="trick : ${fox.getLearnedTricks()}">
                <p th:text="${trick.getDescription()}"></p>
            </div>
        </li>
    </ul>
</div>

</body>
</html>

