<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<body>

<h1>Welcome to Programmer Fox Club!</h1>

<p>No fox exists by that name. Do you want to register a new pet?</p>

<p>Please provide a name for your new pet!</p>

<form action="#" th:action="@{'/registername'}" method="post">
    <div>
        <label for="name">Name </label>
        <input type="text" id="name" name="name"/>
    </div>
    <div>
        <input type="submit" value="GO">
    </div>
</form>

</body>
</html>
