<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accounts</title>
    <meta charset="utf-8"/>
</head>
<body>

    <table style="width:50%; height:300px; font-size: large">
        <tr style="background-color:sandybrown">
            <th>index</th>
            <th>name</th>
            <th>balance</th>
            <th>animal type</th>
            <th>royalty info</th>
            <th>morality status</th>
            <th>increase balance</th>
        </tr>

        <tr th:each="currentAccount : ${accounts}" style="background-color:palegoldenrod" align="center" th:object="${currentAccount}">
            <td th:style="${currentAccountStat.index % 2 == 0} ? 'background-color:yellow' : 'background-color:orange'"
                th:text="${currentAccountStat.index}"></td>
            <td th:style="${currentAccountStat.index % 2 == 0} ? 'background-color:yellow' : 'background-color:orange'"
                th:text="${currentAccount.name}"></td>

            <td th:text="${currentAccount.balance} + ' Zebra'"></td>

            <td th:style="${currentAccountStat.index % 2 == 0} ? 'background-color:yellow' : 'background-color:orange'"
                th:text="${currentAccount.animalType}"></td>

            <td th:style="${currentAccount.accountBelongsToKing(currentAccount) == 'king'} ? 'color:darkgoldenrod' : 'color:black'"
                th:text="${currentAccount.accountBelongsToKing(currentAccount)}"></td>

            <td th:style="${currentAccount.accountBelongsToBadGuy(currentAccount) == 'Bad Guy'} ? 'color:red' : 'color:black'"
                th:text="${currentAccount.accountBelongsToBadGuy(currentAccount)}"></td>

            <td>
                <form action="#" th:action="@{'/increasebalance/'} + ${currentAccountStat.index}" method="post">
                    <input type="submit" value="Increase" />
                </form>
            </td>
        </tr>
    </table>

<form action="#" th:action="@{/createaccount}" method="post" align="center">
    <div>
        <input type="submit" value="Create a new account">
    </div>
</form>

</body>
</html>

