<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{'/submitnewtodo'}" method="post">
    <div>
        <label for="title">Todo title</label>
        <input type="text" id="title" name="title"/>
    </div>
    <div>
        <label for="isUrgent">Is it urgent?</label>
        <input type="text" id="isUrgent" name="isUrgent"/>
    </div>
    <div>
        <label for="isDone">Is it finished?</label>
        <input type="text" id="isDone" name="isDone"/>
    </div>
    <div>
        <label for="assigneeName">Assignee name</label>
        <input type="text" id="assigneeName" name="assigneeName"/>
    </div>
    <div>
        <label for="assigneeEmail">Assignee email</label>
        <input type="text" id="assigneeEmail" name="assigneeEmail"/>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>

</body>
</html>
