<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todos</title>
    <meta charset="utf-8"/>
</head>

<body>

<h1>Todos for today: </h1>

<div>
    <table style="width:50%; height:300px; font-size: large">
        <tr style="background-color:sandybrown">
            <th>id</th>
            <th>action</th>
            <th>date created</th>
            <th>urgent</th>
            <th>done</th>
            <th></th>
        </tr>

        <tr th:each="todo : ${todos}" th:align="center">
            <td th:text="${todo.id}"></td>
            <td th:text="${todo.title}"></td>
            <td th:text="${todo.dateOfCreation}"></td>
            <td th:text="${todo.urgent}"></td>
            <td th:text="${todo.done}"></td>
            <td>
                <form action="#" th:action="@{'/delete/'} + ${todo.id}" method="post">
                    <input type="submit" value="delete"/>
                </form>
            </td>
        </tr>
    </table>
</div>

<div>
    <a href="http://localhost:8080/todo/create">Create new todo</a>
</div>

</body>
</html>