<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Registration</title>
</head>
<body>

<div>
    <form name="registration" th:action="@{/reg}" th:object="${user}" method="post" class="form-signin">
        <h2 class="form-signin-heading">Registration from</h2>
        <input type="text" id="email" name="username" th:field="*{email}" class="form-control" placeholder="E-mail"/>
        <input type="pass" id="pass" name="pass" th:field="*{pass}" class="form-control" placeholder="Pass"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Registration</button>
    </form>
</div>

</body>
</html>